//Text Colors
$textColor1: #333333;
$textColor2: #ffffff;
//Main Colors
$mainColor1: #6E551B;
$mainColor2: #3C2F10;
//Base Colors
$baseColor1: #FFFFFF;
$baseColor2: #E2DDD1;
//Accent Colors
$accentColor: #23460F;
//Overlay Colors
$overlay1: rgba(60, 47, 16, 0.3);
$overlay2: rgba(255, 255, 255, 0.85);

//Font Variables
$caslon:"Libre Caslon Text";
$serif:"Noto Serif JP";
$sans:"Noto Sans JP";

$sp: 480px;
